<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
		data-bs-theme="dark">
<head>
    <title>Minha Página Inicial</title>
    <div th:replace="~{fragments/head :: head}"></div>
</head>
<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <div class="container">
        <div class="jumbotron mt-5">
            <div th:replace="~{fragments/alert :: alert(alertRecord=${alertRecord})}"></div>
            <h1 class="display-4">Bem-vindo à Minha Página Inicial</h1>
            <p class="lead">Esta é uma página inicial simples criada com Thymeleaf e Bootstrap.</p>
            <hr class="my-4">
            <p>Ela inclui alguns componentes básicos do Bootstrap, como um jumbotron e botões.</p>

            <div sec:authorize="isAuthenticated()"> 
                <p>Seja bem-vindo <span sec:authentication="name"></span>!</p>
                <p>Seus perfis são <span sec:authentication="principal.authorities"></span></p>
            </div>

            <a class="btn btn-primary btn-lg" href="#" role="button">Saiba mais</a>
        </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
    
</body>
</html>
