<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
		data-bs-theme="dark">
<head>
    <title>Minha Página Inicial</title>

	<th:block th:replace="~{fragmentos/fragments.html :: headerfiles}"> </th:block>		
</head>
<body>

    <th:block th:replace="~{fragmentos/fragments.html :: fragNavbar}"> </th:block>

    <div class="container">
        <div class="jumbotron mt-5">
            <h1 class="display-4">Bem-vindo à Minha Página Inicial</h1>
            <p class="lead">Esta é uma página inicial simples criada com Thymeleaf e Bootstrap.</p>
            <hr class="my-4">
            <p>Ela inclui alguns componentes básicos do Bootstrap, como um jumbotron e botões.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Saiba mais</a>
        </div>
    </div>

    <th:block th:replace="~{fragmentos/fragments.html :: fragFooter}"> </th:block>
    
</body>
</html>
