<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
		data-bs-theme="dark">
<head>
    <title>Login</title>
    <div th:replace="~{fragments/head :: head}"></div>
</head>
<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <h2 class="text-center mb-4">Login</h2>
                <div th:replace="~{fragments/alert :: alert(alertRecord=${alertRecord})}"></div>
                <!-- Alerta de erro de login -->
                <!-- <div th:if="${param.error}">
                    <div class="alert alert-danger" role="alert">
                        Usuário ou senha inválidos. Por favor, tente novamente.
                    </div>
                </div> -->
                <!-- Alerta de logout -->
                <!-- <div th:if="${param.logout}">
                    <div class="alert alert-success" role="alert">
                        Você saiu com sucesso.
                    </div>
                </div> -->
                <form th:action="@{/login}" method="post">
                    <div class="form-group mb-3">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username">
                    </div>
                    <div class="form-group mb-3">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </form>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
